
/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway&display=swap');

:root{
    --heading-font: "Architects Daughter";
    --paragraph-font: Raleway, Helvetica, sans-serif;
}
.architects{
    font-family: var(--heading-font);
}
.architects li{
    display: grid;
    place-items: center;
}
.architects h4{
    font-size: 1.2em
}
header > img{
    width: 100px;
}
ul {
    display: flex;
}
li{
    list-style: none;
    padding: 0 10px;
    margin: 0 10px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    
}
#hero-msg{
    font-family: var(--heading-font);
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    width: 100%;
    color: #eeebea;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index:-1;
}
#hero-img{
    opacity: 0.9;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.button-box{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
body{
    background-color:#eeebea;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    font-family: var(--heading-font);
    background-color: #396E94;
}
nav {
    display: flex;
    justify-content: space-around;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    width: 666px;
}
nav a{
    text-align: center;
    color:lightcoral;
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    background-color: #eeebea;
    color: #293241;
}
.home-title{
    font-family: var(--heading-font);
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 1000px;
}
.book, .join{                       
    background-color: #FE7C5D;              
    color: #293241;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #E0FBFC;          
    color: #293241;
}
#background{
    height: 725px;
    /* background-color: #396E94; */
    grid-column: 1/11;
    grid-row: 2/3;
}
.msg{
    background-color: #118ab2;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6F7364;
}
.msg h2{
    color: #293241;
    font-family: var(--heading-font);

}
.msg p{
    color: #293241;
    font-weight: bold;
    padding-bottom: 15px;
}
footer{
    background-color: #98c1d9;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer h3{
    color: #293241;
}
footer a{
    color: #293241;
    text-decoration: none;
}
footer a:hover{
    color: #eeebea;
    text-decoration: none;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img, .mountains {
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img2{
    width: 800px;
}
.wide-river-card, .night-camping-card, .wild-rapids-card{
    display:flex;
    padding:25px;
}
.page-2{
    margin-top: 100px;
}
.right-side-screen{
    flex-direction: row-reverse;
}
.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;

}
/* Keep this at the bottom! */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    nav{
        width: unset;
    }
    .architects{
        flex-direction: column;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
        
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #hero-img{
        width: 100%;
    }
    footer {
        margin-top: 25px;
    }
}
        





